@import "../vars.scss";

.viewContainer{
  position: absolute;
  top: 0px;
  width: $simViewWidth;
  height: $simViewHeight;
  border-radius: 20px;

  .animationContainer {
    .background {
      overflow: hidden;
      position: absolute;
      height: $simViewHeight - 2px;
      width: $simViewWidth - 2px;
      border-radius: 20px;
      background: linear-gradient(to bottom,rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 35%, #d0a769 70%,#d0a769 100%);
      filter: blur(0px);
      transition: filter 0.5s ease;
    }
    &.highAlgae {
      filter: blur(2px);
      height: $simViewHeight;
      width: $simViewWidth - 2px;
    }
    &.mediumAlgae {
      filter: blur(1px);
      height: $simViewHeight;
      width: $simViewWidth;
    }

    .algaeBackground {
      overflow: hidden;
      height: $simViewHeight - 2px;
      width: $simViewWidth - 2px;
      border-radius: 20px;
      transition: opacity 0.5s ease;
      background: linear-gradient(to bottom, #5c6e1b 0%, #5c6e1b 45%, rgba(0, 0, 0, 0) 100%);
      z-index: 2;
      opacity: 0;
      &.highAlgae {
        opacity: .80;
      }
      &.mediumAlgae {
        opacity: 0.50;
      }
    }

    .containerOverlay {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      height: $simViewHeight - 2px;
      width: $simViewWidth - 2px;
      border-radius: 20px;
      transition: opacity 0.5s ease;
      background: linear-gradient(to bottom, #8E9089 0%, #8E9089 35%, rgba(0, 0, 0, 0) 100%);
      opacity: 0.75;
      &.highAlgae {
        opacity: 0;
      }
      &.mediumAlgae {
        opacity: 0.45;
      }
    }

    .water {
      position: absolute;
      top: 0;
      width: $simViewWidth - 2px;
      height: 210px;

      .waterEffects {
        height: 210px;
        width: 100%;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;

        .waterEffect {
          width: $simViewWidth - 2px;
          border-top-left-radius: 20px;
          border-top-right-radius: 20px;
        }
      }
    }

    .fishWrapper {
      position: absolute;
      width: $simViewWidth - 2px;
      height: 210px;
      top: 5px;
      z-index: 10;
      overflow: hidden;

      .fish {
        position: absolute;
        width: 160px;
      }
    }

    .bottom {
      position: absolute;
      width: $simViewWidth - 2px;
      height: 120px;
      bottom: 2px;
      border-bottom-left-radius: 20px;
      border-bottom-right-radius: 20px;
      overflow: hidden;
      z-index: 2;

      .seagrass {
        position: absolute;
        width: $simViewWidth * 2;
        height: 32px;
        .seagrass_outlines {
          position: relative;
          bottom: -15px;
          left: -180px;
          height: 32px;
          transition: fill 0.5s ease;
          fill: #D6F823;
          &.highNitrate {
            fill: #A78A4E;
          }
          &.mediumHighNitrate {
            fill: #e8df65;
          }
          &.mediumNitrate {
            fill: #BCC642;
          }
        }
      }
      .sand {
        position: absolute;
        bottom: 0px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
      }
      .clams  {
        position: absolute;
        bottom: 0px;
        width: calc($simViewWidth - 2px);

        @keyframes wiggle {
          0% { transform: rotate(0deg); }
          50% { transform: rotate(1deg); }
          100% { transform: rotate(-1deg); }
        }

        .clam {
          position: absolute;
          bottom: 0;
          height: 115px;
          width: 86px;
          &.animate {
            animation: wiggle 0.2s ease-in-out infinite alternate;
          }
        }
        .clam0 {
          left: 150px;
          &.animate {
            animation-delay: 0s;
          }
        }
        .clam1 {
          left: 80px;
          &.animate {
            animation-delay: 0.1s;
          }
        }
        .clam2 {
          left: 290px;
          &.animate {
            animation-delay: 0.2s;
          }
        }
        .clam3 {
          left: 350px;
          &.animate {
            animation-delay: 0.3s;
          }
        }
        .clam4 {
          left: -25px;
          &.animate {
            animation-delay: 0.4s;
          }
        }
        .clam5 {
          left: 200px;
          &.animate {
            animation-delay: 0.5s;
          }
        }
        .clam6 {
          left: 30px;
          &.animate {
            animation-delay: 0.6s;
          }
        }
        .clam7 {
          left: 410px;
          &.animate {
            animation-delay: 0.7s;
          }
        }
      }
    }
  }
}

