@import "../../vars.scss";

.credits {
  font-size: 20px;

  .header {
    background: left no-repeat url("../../assets/foss-logo.svg");;
    height: 68px;
    padding-left: 64px;
    margin-bottom: 27px;
    display: flex;
    align-items: center;
    line-height: 28px;
    font-weight: 400;

    sup {
      font-size: 7px;
      margin-top: -10px;
    }
  }

  .splitter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;

    &>div {
      width: 100%;
    }
  }

  .borderLeft {
    border-left: 1px solid $bluePrimary;
    padding-left: 19px;
  }

  .borderTop {
    border-top: 1px solid $bluePrimary;
    padding-top: 15px;
  }

  .label {
    line-height: 24px;
  }

  .lhsLogo {
    width: 165px;
    height: 135px;
    margin-top: 12px;
    background: left no-repeat url("../../assets/lhs-logo.svg");;
  }

  .deltaLogo {
    width: 165px;
    height: 24px;
    margin: 15px 0;
    background: left no-repeat url("../../assets/delta-education-logo.svg");;
  }

  .schoolSpecialityLogo {
    width: 165px;
    height: 26px;
    margin: 18px 0 20px 0;
    background: left no-repeat url("../../assets/school-specialty-logo.svg");;
  }

  .ccLogo {
    width: 125px;
    height: 40px;
    margin: 15px 0;
    background: left no-repeat url("../../assets/cc-logo.svg");;
  }


}
