@import "../../vars.scss";

$headerHeight: 60px;
$headerTextColor: $bluePrimary;

.simulationFrame {
  width: $maxAppWidth;
  padding-bottom: 15px;

  *:focus-visible {
    outline: $focusOutline;
  }
  *:focus:not(:focus-visible) {
    outline: none;
  }

  .instructions {
    > div {
      padding-bottom: 15px;
    }
  }

  .header {
    box-sizing: border-box;
    height: $headerHeight;
    color: $headerTextColor;
    font-family: $fontFamilyNunito;
    background-color: $header-bg;
    border-radius: 0 0 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    position: relative;

    .logo {
      height: 30px;
    }

    .titleContainer {
      position: absolute;
      left: 0;
      width: 100%;
      display: flex;
      justify-content: center;
      pointer-events: none;

      .title {
        height: 40px;
      }
    }

    .left {
      margin-left: 12px;
    }

    .right {
      margin-right: 12px;
    }

    .buttons {
      display: flex;
      align-items: center;

      button {
        cursor: pointer;
        border: none;
        background-color: transparent;
        padding: 0;
        font-weight: bold;
        font-size: 16px;
        display: flex;
        align-items: center;
        font-family: $fontFamilyNunito;
        color: $bluePrimary;

        svg path {
          fill: $bluePrimary;
        }
      }
      img + button {
        margin-left: 6px;
      }
      button.active {
        svg :global(.background) {
          fill: $lightBlueTint25;
        }
        svg :global(.questionMark) {
          fill: $bluePrimary;
        }
      }
      // button:not(.active):hover {
      //   color: $blueAccent;
      //   svg :global(.outline), svg :global(.questionMark)  {
      //     fill: $blueAccent;
      //   }
      // }
    }
  }

  .content {
    width: 100%;
    height: calc(100% - $headerHeight);
    border-radius: 0 0 $frameBorderRadius $frameBorderRadius;
    position: relative;
  }
}
