@import "common/src/vars.scss";

.controls {
  margin-top: -238px;
  box-sizing: border-box;
  width: calc(100% - 16px);
  height: 120px;
  background-position-x: -4px;
  background-image: url("../../assets/play-time-background.svg");
  z-index: 1;
  display: flex;
  flex-direction: row;

  .playButton {
    white-space: nowrap;
    margin-left: 52px;
    margin-top: 24px;
  }

  .timeControls {
    margin-top: 23px;
    margin-left: 57px;
  }
}
