@import "common/src/vars.scss";

.scrollingSelect {
  display: flex;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 500;
  height: 31px;

  &.disabled {
    pointer-events: none;
    opacity: 0.3;
  }

  .selector {
    background-color: $light-blue;
    border: 2px solid $dark-blue;
    cursor: pointer;

    &.left {
      border-right: none;
      border-radius: 8px 0 0 8px;
    }
    &.right {
      border-left: none;
      border-radius: 0 8px 8px 0;
    }

    svg {
      height: 27px;
      width: 27px;
    }

    &:hover {
      background-color: darken($light-blue, 10%);
    }

    &:active {
      background-color: darken($light-blue, 30%);

      path {
        fill: white;
      }
    }
  }

  .value {
    background-color: $light-blue2;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid $dark-blue;
  }
}
