@import "common/src/vars.scss";

$height: 355px;

.simulationView {
  box-sizing: border-box;
  display: flex;

  .wrapper {
    width: 100%;
    height: $height;
    position: relative;

    .sky, .daylight, .landscapeContainer, .stars, .pointers, .heading, .buttons {
      width: 100%;
      height: $height;
      position: absolute;
      left: 0;
      pointer-events: none;
    }

    .stars {
      &.compassInteraction {
        cursor: url("../../assets/compass_cursor.png") 20 20, pointer;
      }

      &.angleMarkerInteraction {
        cursor: url("../../assets/angle_icon_cursor.png") 8 6, crosshair;
      }
    }

    .sky {
      background-image: url("../../assets/earth-view-nighttime-background@3x.png");
      background-position: center;
      background-size: contain;
    }

    .daylight {
      background-image: url("../../assets/earth-view-daytime-background@3x.png");
      pointer-events: none;
      background-position: center;
      background-size: contain;
      z-index: 100;
    }

    .heading {
      font-weight: bold;
      color: #1cc4ab;
      text-align: center;
      top: $height - 25px;
      font-size: 16px;
      z-index: 2;
    }

    .buttons {
      top: $height - 70px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      z-index: 2;

      .buttonContainer {
        color: #1cc4ab;
        text-align: center;
        font-size: 16px;

        .button {
          width: 36px;
          margin: 5px 10px;
          padding: 0;

          svg path {
            fill: $dark-blue;
          }

          &:active {
            svg path {
              fill: #fff;
            }
          }
        }

        &:first-child .button {
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
        }

        &:last-child .button {
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
        }
      }
    }
  }
}
