@import "common/src/vars.scss";

$height: 355px;

.simulationView {
  box-sizing: border-box;
  display: flex;

  .horizonViewWrapper {
    width: 100%;
    height: $height;
    position: relative;

    .sky, .daylight, .landscape, .stars, .pointers {
      width: 100%;
      height: $height;
      position: absolute;
      top: 0;
      left: 0;
      background-size: cover;
    }

    .sky {
      background-image: url("../../assets/earth-view-nighttime-background@3x.png");
    }

    .landscape {
      background-image: url("../../assets/earth-view-landscape@3x.png");
      pointer-events: none;
      background-position: center;
      background-size: contain;
    }

    .daylight {
      background-image: url("../../assets/earth-view-daytime-background@3x.png");
      pointer-events: none;
      background-position: center;
      background-size: contain;
    }
  }
}
