
@import "..//vars.scss";

.input {
  width: calc(100% - 4px);
  height: 160px;
  .type {
    width: 100%;
    font-weight:700;
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
    background-color: $medium-yellow;
    height: 30px;
  }
  .control {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 100px;
    margin-top: 10px;
    .left {
      height: 100px;
      width: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      .slider {
        -webkit-appearance: none;
        appearance: none;
        width: 105px;
        height: 20px;
        box-sizing: border-box;
        background: #cccccc;
        transform: rotate(-90deg);
        border-radius: 10px;
        border: 1px solid $font-color;
        display: flex;
        align-items: center;
        &.full {
          background-color: $bright-green;
        }
        &.some {
          background: linear-gradient(
          to right,
          $bright-green 0%,
          $bright-green 50%,
          #ccc 50%,
          #ccc 100%
          );
        }
      }
      .slider:disabled::-webkit-slider-thumb {
        cursor: default;
      }
      .slider::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 32px;
        height: 32px;
        border-radius: 50%;
        border: 1px solid $panel-bg;
        background-color: $light-green;
        outline: 1px solid $bright-green;
        cursor: pointer;
        box-shadow: 0 0px 4px 3px rgba(0, 0, 0, 0.2);
      }
    }
    .right {
      height: 105px;
      display: flex;
      flex-direction: column;
      .labels {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        color: #333333;
        font-weight: 400;
        .active {
          font-weight: bold;
        }
      }
    }
  }
}
