@import "common/src/vars.scss";

.materialContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  .materialButton {
    position: relative;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    box-shadow: 2px 2px 4px 0 rgba(78, 44, 130, 0.5);
    border: solid 4px $purpleAccent;
    background-color: $white;
    padding: 0px;

    &:hover {
      width: 70px;
      height: 70px;
      background-color: $purpleTint25;
      cursor: grab;
    }

    &:active {
      width: 65px;
      height: 65px;
      box-shadow: none;
      background-color: $purpleTint50;
      cursor: grabbing;
    }

    &.disabled {
      opacity: 35%;
      width: 60px;
      height: 60px;
    }

    svg {
      height: 100%;
      width: 100%;
    }
  }

  .placed {
    .materialButton {
      width: 80px;
      height: 80px;
      margin-top: 5px;
      border: none;
      box-shadow: none;
      &.disabled {
        opacity: 100%;
      }
    }
  }

  .materialLabel {
    position: absolute;
    top: 85px;
    margin-top: 5px;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: $purpleAccent;
    &.disabled {
      opacity: 35%;
    }
  }

  .dragPreview {
    cursor: grabbing;
  }
}
