@import "../vars.scss";

$timeCircularInputWidth: 145px;

.bottomContainer {
  height: 110px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  z-index: 1;

  .timeCircularInput {
    box-sizing: border-box;
    width: $timeCircularInputWidth;
    height: $timeCircularInputWidth;
    border: 4px solid $darkYellow;
    background-color: $lightYellow;
    border-radius: 8px;
    margin-right: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
    padding: 1px;
  }

  .mainRow {
    width: calc(100% - $timeCircularInputWidth);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 5px;

    .widgetContainer {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .label {
        $padding: 10px;
        width: calc(100% - 2 * $padding);
        padding: 0 $padding;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $darkYellow;
        white-space: nowrap;
      }

      .content {
        width: 100%;
        height: 75px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        .content100 {
          height: 100%;
          background-color: $lightYellow;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-around;
        }

        .content100 {
          width: 100%;
        }

        .checkboxGroup {
          display: flex;
          flex-direction: column;
          align-items: flex-end;
          justify-content: flex-start;
        }
      }
    }

    .widgetContainer + .widgetContainer {
      margin-left: 5px;
    }

    .dateAndTime {
      flex: 1.5;
    }
    .navigationMarks {
      flex: 1;
    }
    .constellations {
      flex: 0.8;
    }

    .timeOfDay {
      font-size: 18px;
      font-family: Verdana;
      box-sizing: border-box;
      width: 65px;
      height: 65px;
      border: 2px solid $dark-blue;
      border-radius: 8px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
    }

    .scrollingSelect {
      margin: 3px 0;
    }
  }
}


