@import "./vars.scss";

.simulationFrame {
  background-color: #fffefd;
}

.content {
  display: flex;
  flex-direction: row;
  padding: 5px;

  .leftColumn {
    display: flex;
    flex: 10;
    flex-direction: column;

    .simulationContainer {
      box-sizing: border-box;
      width: 100%;
    }
  }

  .rightColumn {
    width: 230px;
    margin-left: 5px;
    display: flex;
  }
}
