@import "./vars.scss";

.button {
  box-sizing: border-box;
  height: 37px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid $dark-blue;
  pointer-events: all;
  padding: 4px 3px;
  cursor: pointer;
  background-color: $light-blue;
  border-radius: 8px;
  font-size: 16px;

  &.disabled {
    color: $font-color;
    pointer-events: none;
    opacity: 0.5;
  }

  &:hover {
    background-color: $blue-hover;
  }

  &:active {
    background-color: $blue-active;
  }

  &.selected {
    background-color: $dark-blue;
    color: $white;
    pointer-events: none;
  }
}
