@import "./vars.scss";

.rightPanelContainer {
  width: 100%;
  background-color: $darkYellow;
  display: flex;
  justify-content: center;
  align-items: center;

  .mapRouteContainer {
    width: 220px;
    .mapBackground {
      background-image: url("../assets/route_map.png");
      width: 100%;
      height: 150px;
    }
    .svgContainer {
      width: 100%;
      height: 150px;
      z-index: 1;
      position: relative;
      top: -150px;
      .angle {
        fill: #fabc2a;
        fill-opacity: 70%;

      }
    }
    .draggableIcon {
      width: 100%;
      height: 150px;
      position: relative;
      top: -155px;
      svg {
        width: 30px;
        height: 30px;
      }
    }
  }
}
