@import "common/src/vars.scss";

.thumbnail {
  width: 100px;
  height: 80px;
  border-radius: 10px;
  border: solid 3px $purpleAccent;
  margin-top: 10px;
  margin-right: 10px;
  background-color: #000;

  &.disabled {
    opacity: 0.35;
  }

  svg {
    border-radius: 10px;
  }
}
