.draggable {
  // Make sure that interacting with draggable on touch devices won't trigger scrolling.
  // https://docs.dndkit.com/api-documentation/sensors/pointer#touch-action
  touch-action: none;
  position: relative;

  &.disabled {
    pointer-events: none;
    button {
      cursor: auto;
    }
  }

  button {
    border: none;
    background-color: transparent;
    padding: 0;
    margin: 0;
    cursor: move;
  }

  .dragPreview {
    z-index: 100;
    position: absolute;
  }
}
