@import "../vars.scss";

.graphsContainer {
  display: flex;
  width: 100%;
  justify-content: space-between;

  .graphs {
    display: flex;
    flex-direction: row;
    .graph {
      margin: 2px;
      width: 260px;
      height: 140px;
      .graphTitle {
        width: 100%;
        height: 21px;
        font-size: 16px;
        color: #333;
        font-weight: bold;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background-color: #f9e2a1;
      }
      .graphContent {
        width: 100%;
        height: 120px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        top: 3px;
        .yAxisTicks {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          position: absolute;
          top: 7px;
          left: -240px;
          .yAxisTickLabel {
            margin: 0 0 10px;
            font-family: Roboto;
            font-size: 12px;
            font-weight: normal;
          }
        }
        .xAxisTicks {
          font-size: 14px;
          font-weight: 500;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          position: absolute;
          bottom: 25px;
          left: 60px;
          width: 165px;
          .xAxisTickLabel {
            width: 25px;
          }
        }
        .xAxisLabel {
          position: absolute;
          bottom: 8px;
          width: 100%;
          height: 17px;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          color: #333;
          font-size: 14px;
          font-weight: bold;
        }
        .axisLine {
          stroke: black;
          stroke-width: 1.5;
        }
        .horizontalLine {
          stroke: black;
          stroke-width: 0.5;
        }
        .plotSvg {
          width: 190px;
          height: 75px;
          position: absolute;
          top: 0;
        }
        .valueLine {
          stroke-width: 2;
          fill: none;
          &.algae {
            stroke: #fe0101;
          }
          &.nitrate {
            stroke: #00bdfa;
          }
          &.turbidity {
            stroke: #1cca02;
          }
        }
      }
    }
  }
}
