@import "./sprite.scss";

.viewContainer{
  position: absolute;
  top:0px;
  width: 394px;
  height: 469px;
}

.animationImage {
  position: absolute;
  z-index: 4;
}

/* ================================[ DAY 00 ]=====================================*/
.day0 {
  width: 394px;
  height: 469px;
  z-index: 4;
  background-image: url("../../assets/plant-frames-2/plant-0.svg");
}

/* ================================[ DAY 04 ]=====================================*/
.case1day4 {
  width: 394px;
  height: 469px;
  z-index: 4;
  background-image: url("../../assets/plant-frames-2/case-1/case-1-4.svg");
}

.case1day8 {
  width: 394px;
  height: 469px;
  z-index: 4;
  background-image: url("../../assets/plant-frames-2/case-1/case-1-8.svg");
}

.case1day12 {
  width: 394px;
  height: 469px;
  z-index: 4;
  background-image: url("../../assets/plant-frames-2/case-1/case-1-12.svg");
}

.case1day16 {
  width: 394px;
  height: 469px;
  z-index: 4;
  background-image: url("../../assets/plant-frames-2/case-1/case-1-16.svg");
}

.case1day20 {
  width: 394px;
  height: 469px;
  z-index: 4;
  background-image: url("../../assets/plant-frames-2/case-1/case-1-20.svg");
}

.case1day24 {
  width: 394px;
  height: 469px;
  z-index: 4;
  background-image: url("../../assets/plant-frames-2/case-1/case-1-24.svg");
}

.case1day28 {
  width: 394px;
  height: 469px;
  z-index: 4;
  background-image: url("../../assets/plant-frames-2/case-1/case-1-24.svg");
}

