@import "../vars.scss";

$topZIndex: 10;

.simulationView {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  height: 470px;
  border-radius: 5px;
  border: 2px solid $bluePrimary;
  background-color: #fff;

  .dot {
    position: absolute;
    left: 20px;
    width: 20px;
    height: 20px;
    background-color: $bluePrimary;
    border-radius: 10px;
  }

  .ruler {
    z-index: $topZIndex;
    width: 394px;
    height: 469px;
    position: absolute;
    top: 0;
    &.cm {
      background-image: url("../../assets/terrarium/ruler-centimeter.svg");
    }
    &.in {
      background-image: url("../../assets/terrarium/ruler-inch.svg");
    }
  }

  .terrariumBackGround{
    position: absolute;
    top: 0px;
    height: 100%;
    width:100%;
    background-image: url("../../assets/terrarium/terrarium-background.svg");
    border-radius: 19px;
    z-index: 1;
  }

  .terrarium{
    position: absolute;
    top: 0;
    margin: 0 auto;

    .toggleRulerContainer {
      position: absolute;
      top: 345px;
      left: 338px;
      z-index: $topZIndex;
      .toggle {
        display: flex;
        flex-direction: column;
        height: 80px;
        box-sizing: border-box;
        border-radius: 20px;
        background-color: $panel-bg;
        border: 2px solid #7f6d00;
        color: $bluePrimary;
        .buttonContainer {
          height: 50%;
          padding-top: 2px;
          padding-bottom: 4px;
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          &.left {
            border-radius: 20px 20px 0px 0px;
          }
          &.right {
            border-radius: 0px 0px 20px 20px;
          }
          &.active {
            background-color: $medium-yellow;
            button {
              font-weight: bold;
            }
          }
          &:hover:not(.active):not(.disabled) {
            background-color: $light-yellow;

          }
          button {
            background-color: transparent;
            border: 0px;
            color: $font-color;
            font-family: $fontFamilyNunito;
            font-size: 16px;
            &:hover:not(:disabled) {
              cursor: pointer;
            }
          }
        }
      }
    }

    .terrariumBack{
      background-image: url("../../assets/terrarium/terrarium-back.svg");
      position: absolute;
      top: 0;
      width: 394px;
      height: 496px;
      z-index: 1;
    }

    .soil {
      position: absolute;
      top: 0;
      width: 394px;
      height: 469px;
      z-index: 2;
      &.full {
        background-image: url("../../assets/terrarium/soil-water-high.svg");
      }
      &.some {
        background-image: url("../../assets/terrarium/soil-water-low.svg");

      }
      &.none {
        background-image: url("../../assets/terrarium/soil-water-none.svg");
      }
    }

    .light {
      position: absolute;
      width: 393px;
      height: 468px;
      z-index: 2;
      border-radius: 19px;
      &.full {
        background-image: url("../../assets/terrarium/light-high.svg");
      }
      &.some {
        background-image: url("../../assets/terrarium/light-low.svg");

      }
      &.none {
        background-image: url("../../assets/terrarium/light-none.svg");
      }
    }


    //plant top has z-index 4
    .co2Label{
      background-color: white;
      position: absolute;
      left: 35px;
      top: 100px;
      height:23px;
      width:100px;
      z-index: $topZIndex;
      border-radius: 20px;
      border: 2px solid $bluePrimary;
      display: flex;
      align-items: center;
      justify-content: center;
        .co2LabelText{
          font-weight: 500;
          font-size: 14px;
          color: $bluePrimary;
        }
      }

    .terrariumFront{
      position: absolute;
      top: 0;
      width: 394px;
      height: 469px;
      z-index: 6;
      &.full, &.some {
        background-image: url("../../assets/terrarium/terrarium-front-mesh.svg");
      }
      &.none {
        background-image: url("../../assets/terrarium/terrarium-front-glass.svg");
      }
    }
  }
}
