@import "../vars.scss";

.simulationView {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  height: 470px;
  border-radius: 5px;
  border: 2px solid $bluePrimary;
  background-color: #fff;

  .dot {
    position: absolute;
    left: 20px;
    width: 20px;
    height: 20px;
    background-color: $bluePrimary;
    border-radius: 10px;
  }

  .ruler {
    z-index: 2;
    background-image: url("../../assets/terrarium/Ruler-Centimeter.svg");
    width: 394px;
    height: 469px;
    position: absolute;
    top: 0;
  }

  .terrariumBackGround{
    position: absolute;
    top: 0px;
    height: 100%;
    width:100%;
    background-image: url("../../assets/terrarium/Terrarium-Background.svg");
    border-radius: 19px;
    z-index: 1;
  }

  .terrarium{
    position: absolute;
    top: 0;
    margin: 0 auto;

    .terrariumBack{
      background-image: url("../../assets/terrarium/Terrarium-Back.svg");
      position: absolute;
      top: 0;
      width: 394px;
      height: 496px;
      z-index: 1;
    }

    .soil {
      position: absolute;
      top: 0;
      width: 394px;
      height: 469px;
      z-index: 2;
      &.full {
        background-image: url("../../assets/terrarium/Soil-Water-High.svg");
      }
      &.some {
        background-image: url("../../assets/terrarium/Soil-Water-Low.svg");

      }
      &.none {
        background-image: url("../../assets/terrarium/Soil-Water-None.svg");
      }
    }

    .light {
      position: absolute;
      top: 0;
      width: 394px;
      height: 469px;
      z-index: 2;
      &.full {
        background-image: url("../../assets/terrarium/Light-High.svg");
      }
      &.some {
        background-image: url("../../assets/terrarium/Light-Low.svg");

      }
      &.none {
        background-image: url("../../assets/terrarium/Light-none.svg");
      }
    }


    //plant top has z-index 4
    // .co2Label{
    //   background-color: white;
    //   position: absolute;
    //   left: 25px;
    //   top: 50px;
    //   height:23px;
    //   width:100px;
    //   z-index: 5;
    //   border-radius: 20px;
    //   border: 2px solid $bluePrimary;
    //   display: flex;
    //   align-items: center;
    //   justify-content: center;
    //     .co2LabelText{
    //       font-weight: 500;
    //       font-size: 14px;
    //       color: $bluePrimary;
    //     }
    //   }

    .terrariumFront{
      position: absolute;
      top: 0;
      width: 394px;
      height: 469px;
      z-index: 6;
      &.full, &.some {
        background-image: url("../../assets/terrarium/Terrarium-Front-Mesh.svg");
      }
      &.none {
        background-image: url("../../assets/terrarium/Terrarium-Front-Glass.svg");
      }
    }
  }
}
