@import "../vars.scss";

$plantZIndex: 5;
$heightLineZIndex: 6;

@function cmToPx($cm) {
  // the 0 cm line is 327px from the top of the container.
  $cm0: 330px;
  // there are 12.2px between each cm line.
  @return calc($cm0 - calc(12.2px * $cm));
}

.viewContainer{
  position: absolute;
  top:0px;
  width: $simViewWidth;
  height: $simViewHeight;
}

.animationImage {
  position: absolute;
  width: $simViewWidth;
  height: $simViewHeight;
  z-index: $plantZIndex;
}

.heightLine {
  position: absolute;
  left: 45px;
  width: 212px;
  height: 0px;
  border-top: 3px dashed $bright-blue;
  background-color: lightgray;
  opacity: 0%;
  transition: opacity 0s;
  &.visible {
    opacity: 100%;
    transition: opacity .5s;
  }
}

/* ================================[ DAY 00 ]=====================================*/
.day0 {
  background-image: url("../../assets/plant-frames/plant-0.svg");
  .heightLine {
    top: cmToPx(0);
  }
}

/* ================================[ DAY 04 ]=====================================*/
.case1day4 {
  background-image: url("../../assets/plant-frames/case-1/case-1-4.svg");
  .heightLine {
    top: cmToPx(1);
  }
}

.case2day4 {
  background-image: url("../../assets/plant-frames/case-2/case-2-4.svg");
  .heightLine {
    top: cmToPx(.5);
  }
}

.case3day4 {
  background-image: url("../../assets/plant-frames/case-3/case-3-4.svg");
  .heightLine {
    top: cmToPx(1);
  }
}

/* ================================[ DAY 08 ]=====================================*/

.case1day8 {
  background-image: url("../../assets/plant-frames/case-1/case-1-8.svg");
  .heightLine {
    top: cmToPx(2);
  }
}

.case2day8 {
  background-image: url("../../assets/plant-frames/case-2/case-2-8.svg");
  .heightLine {
    top: cmToPx(2);
  }
}

.case3day8 {
  background-image: url("../../assets/plant-frames/case-3/case-3-8.svg");
  .heightLine {
    top: cmToPx(4);
  }
}

.case5day8 {
  background-image: url("../../assets/plant-frames/case-5/case-5-8.svg");
  .heightLine {
    top: cmToPx(1);
  }
}

.case12day8 {
  background-image: url("../../assets/plant-frames/case-12/case-12-8.svg");
  .heightLine {
    top: cmToPx(1.5);
  }
}

.case13day8 {
  background-image: url("../../assets/plant-frames/case-13/case-13-8.svg");
  .heightLine {
    top: cmToPx(.5);
  }
}

/* ================================[ DAY 12 ]=====================================*/

.case1day12 {
  background-image: url("../../assets/plant-frames/case-1/case-1-12.svg");
  .heightLine {
    top: cmToPx(3);
  }
}

.case2day12 {
  background-image: url("../../assets/plant-frames/case-2/case-2-12.svg");
  .heightLine {
    top: cmToPx(5);
  }
}

.case3day12 {
  background-image: url("../../assets/plant-frames/case-3/case-3-12.svg");
  .heightLine {
    top: cmToPx(12);
  }
}

.case5day12 {
  background-image: url("../../assets/plant-frames/case-5/case-5-12.svg");
  .heightLine {
    top: cmToPx(3);
  }
}

.case12day12 {
  background-image: url("../../assets/plant-frames/case-12/case-12-12.svg");
  .heightLine {
    top: cmToPx(3);
  }
}

.case13day12 {
  background-image: url("../../assets/plant-frames/case-13/case-13-12.svg");
  .heightLine {
    top: cmToPx(0);
  }
}

.case14day12 {
  background-image: url("../../assets/plant-frames/case-14/case-14-12.svg");
  .heightLine {
    top: cmToPx(2.5);
  }
}

/* ================================[ DAY 16 ]=====================================*/

.case1day16 {
  background-image: url("../../assets/plant-frames/case-1/case-1-16.svg");
  .heightLine {
    top: cmToPx(2);
  }
}

.case2day16 {
  background-image: url("../../assets/plant-frames/case-2/case-2-16.svg");
  .heightLine {
    top: cmToPx(6);
  }
}

.case3day16 {
  background-image: url("../../assets/plant-frames/case-3/case-3-16.svg");
  .heightLine {
    top: cmToPx(15);
  }
}

.case5day16 {
  background-image: url("../../assets/plant-frames/case-5/case-5-16.svg");
  .heightLine {
    top: cmToPx(4);
  }
}

.case12day16 {
  background-image: url("../../assets/plant-frames/case-12/case-12-16.svg");
  .heightLine {
    top: cmToPx(6);
  }
}

.case14day16 {
  background-image: url("../../assets/plant-frames/case-14/case-14-16.svg");
  .heightLine {
    top: cmToPx(3);
  }
}

/* ================================[ DAY 20 ]=====================================*/

.case1day20 {
  background-image: url("../../assets/plant-frames/case-1/case-1-20.svg");
  .heightLine {
    top: cmToPx(1);
  }
}

.case2day20 {
  background-image: url("../../assets/plant-frames/case-2/case-2-20.svg");
  .heightLine {
    top: cmToPx(6);
  }
}

.case3day20 {
  background-image: url("../../assets/plant-frames/case-3/case-3-20.svg");
  .heightLine {
    top: cmToPx(19);
  }
}

.case5day20 {
  background-image: url("../../assets/plant-frames/case-5/case-5-20.svg");
  .heightLine {
    top: cmToPx(4);
  }
}

.case12day20 {
  background-image: url("../../assets/plant-frames/case-12/case-12-20.svg");
  .heightLine {
    top: cmToPx(8);
  }
}

.case14day20 {
  background-image: url("../../assets/plant-frames/case-14/case-14-20.svg");
  .heightLine {
    top: cmToPx(3);
  }
}

/* ================================[ DAY 24 ]=====================================*/

.case1day24 {
  background-image: url("../../assets/plant-frames/case-1/case-1-24.svg");
  .heightLine {
    top: cmToPx(0);
  }
}

.case2day24 {
  background-image: url("../../assets/plant-frames/case-2/case-2-24.svg");
  .heightLine {
    top: cmToPx(6);
  }
}

.case3day24 {
  background-image: url("../../assets/plant-frames/case-3/case-3-24.svg");
  .heightLine {
    top: cmToPx(20);
  }
}

.case5day24 {
  background-image: url("../../assets/plant-frames/case-5/case-5-24.svg");
  .heightLine {
    top: cmToPx(4);
  }
}

.case12day24 {
  background-image: url("../../assets/plant-frames/case-12/case-12-24.svg");
  .heightLine {
    top: cmToPx(10);
  }
}

.case14day24 {
  background-image: url("../../assets/plant-frames/case-14/case-14-24.svg");
  .heightLine {
    top: cmToPx(3);
  }
}

/* ================================[ DAY 28 ]=====================================*/

.case2day28 {
  background-image: url("../../assets/plant-frames/case-2/case-2-28.svg");
  .heightLine {
    top: cmToPx(6);
  }
}

.case3day28 {
  background-image: url("../../assets/plant-frames/case-3/case-3-28.svg");
  .heightLine {
    top: cmToPx(20);
  }
}

.case5day28 {
  background-image: url("../../assets/plant-frames/case-5/case-5-28.svg");
  .heightLine {
    top: cmToPx(4);
  }
}

.case11day28 {
  background-image: url("../../assets/plant-frames/case-11/case-11-28.svg");
  .heightLine {
    top: cmToPx(6);
  }
}

.case12day28 {
  background-image: url("../../assets/plant-frames/case-12/case-12-28.svg");
  .heightLine {
    top: cmToPx(12);
  }
}

.case14day28 {
  background-image: url("../../assets/plant-frames/case-14/case-14-28.svg");
  .heightLine {
    top: cmToPx(3);
  }
}
