@import "./vars.scss";

.graphTitleContainer{
  display: flex;
  justify-content: center;
  margin-top: 3px;
  margin-bottom: -7px;

  .daysContainer{
    background-color: $lightBlueTint25;
    width:28px;
    height:23px;
    border-radius: 5px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: -2px;
    text-align: center;
    padding-top: 3px;
  }
}
