@import "../vars.scss";

$topMargin: 13px;

.labeledContainer {
  box-sizing: border-box;
  border-radius: 20px;
  background-color: $panel-bg;
  border: 1px solid $font-color;

  .label {
    box-sizing: border-box;
    padding: 5px;
    color: $font-color;
    width: 100%;
    font-weight: 800;
    font-size: 16px;
    border-radius: 20px 20px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $dark-yellow;
    height: 50px;
  }
}
