@import "./vars.scss";

$contentHeight: 560px;
$optionsContainerWidth: 92px;
$controlsHeight: 71px;
$paddingLR: 4px;
$paddingTB: 8px;
$gapBetweenContainers: 6px;
$optionsContainerHeight: $contentHeight - ($paddingTB * 2);
$tableContainerWidth: $maxAppWidth - $optionsContainerWidth - $simViewWidth - ($paddingLR * 2) - ($gapBetweenContainers * 2);
$tableContainerHeight: $simViewHeight;
$graphContainerWidth: $maxAppWidth - $optionsContainerWidth - $gapBetweenContainers - ($paddingLR * 2);


.simulationFrame {
  background-color: #E7EDF6;
  width: $maxAppWidth;
}

.content {
  width: $maxAppWidth;
  height: $contentHeight;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  padding: $paddingTB $paddingLR;
  gap: $gapBetweenContainers;

  .rightSide {
    display: flex;
    flex-direction: column;
    gap: $gapBetweenContainers;
    .top {
      display: flex;
      flex-direction: row;
      gap: $gapBetweenContainers;
    }
  }

  .readAloud {
    text-decoration: underline;
    &:hover {
      cursor: pointer!important;
      background-color: $lightBlueTint25;
    }
    &:active, &.active {
      background-color: $bluePrimary;
      color: $white;
      text-decoration: none;
    };
    &.disabled {
      &:hover {
        cursor: default!important;
        background-color: transparent;
      }
      &:active {
        color: $font-color;
      }
    }
  }

  .optionsContainer {
    box-sizing: border-box;
    width: $optionsContainerWidth;
  }

  .simulationContainer {
    box-sizing: border-box;
    width: $simViewWidth;
    height: $simViewHeight;
    border-radius: 20px;

    .controls {
      display: flex;
      align-items: flex-start;
      justify-content: space-around;
      margin-top: 8px;
      height: $controlsHeight;
      gap: 5px;

      .group {
        margin-left: 10px;
        white-space: nowrap;
        font-family: $fontFamilyNunito;
        display: flex;
        gap: 10px;
      }

      .timeSliderContainer {
        width: 350px;
      }
    }
  }

    .tableContainer {
      box-sizing: border-box;
      width: $tableContainerWidth;
      // 8 comes from margin-top of .controls
      height: $simViewHeight + $controlsHeight + 8px;
      border: 1px solid $font-color;
      border-radius: 20px;
      .table-header{
        position: relative;
      }
    }

  .lineGraphs{
    display: flex;
    flex-direction: column;
    // 8 comes from margin-top of .controls
    height: $contentHeight - $simViewHeight - $controlsHeight - 8 - ($paddingTB * 2) - $gapBetweenContainers;
    width: $graphContainerWidth;
    border: 1px solid $font-color;
    border-radius: 20px;
    color: black;
    font-family: $fontFamilyNunito;
    box-sizing: border-box;
    background-color: $panel-bg;

    .header {
      width: 100%;
      display: flex;
      justify-content: center;
      background-color: $dark-yellow;
      height: 40px;
      align-items: center;
      font-weight: 800;
      border-radius: 20px 20px 0px 0px;
    }

    .body {
      box-sizing: border-box;
      width: 100%;
      height: calc(100% - 30px);
      border: 2px solid $panel-bg;
      border-radius: 0px 0px 20px 20px;
    }

    .graphsContainer {
      display: flex;
      width: 100%;
      justify-content: space-between;
    }
  }
}

