@import "common/src/vars.scss";

$simViewWidth: 481px;
$simViewHeight: 281px;
$focusOutline: 4px solid $lightBlueAccent;
$royal-blue: #00a0ff;
$dark-blue: #005f99;
$medium-blue: #8ad3ff;
$light-blue: #e7f6ff;
