@import "../vars.scss";

.mapRouteContainer {
  width: 220px;
  height: 150px;
  background-image: url("../../assets/CC_Constellation_minimap_230726.png");
  position: relative;

  .svgContainer {
    width: 100%;
    height: 150px;

    .mapText {
      fill: $lightBlue;
      stroke: $midnight-blue;
      paint-order: stroke;
      stroke-width: 4px;
      border: 2px solid $midnight-blue;
    }

    .pointLabel {
      fill: $darkYellow;
      stroke: $midnight-blue;
      paint-order: stroke;
      stroke-width: 2px;
      font-weight: bold;
    }

    .routeLine {
      stroke: $midnight-blue;
      stroke-width: 3;
    }

    .realRouteLine {
      stroke: #ff0000;
      stroke-width: 3;
      stroke-dasharray: 6 3;
    }

    .vertical {
      stroke: $midnight-blue;
      stroke-width: 2;
      stroke-dasharray: 5;
    }

    .angle {
      fill: $darkYellow;
      fill-opacity: 65%;
    }
  }

  .draggableIcon {
    position: absolute;
    top: 0;
    left: 0;

    svg {
      width: 30px;
      height: 32px;
      stroke: $midnight-blue;
      stroke-width: 30;
      fill: $lightBlue;
    }
  }
}
