@import "../vars.scss";

.snapshot {
  .snapshotButton, .snapshotData {
    width: 180px;
    height: 90px;
    border-radius: 15px;
    box-sizing: border-box;
  }

  .snapshotData {
    background-color: $dark-blue;
    background-size: cover;
    padding: 5px;
    color: #ffea00;
    text-shadow: 2px 2px 3px #000;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;

    button {
      border: none;
      background: transparent;
      width: 38px;
      height: 38px;
      border-radius: 19px;
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: -10px;
      right: -15px;
      cursor: pointer;

      &:hover {
        svg circle {
          fill: $blue-hover;
        }
      }

      &:active {
        svg circle {
          fill: $dark-blue;
        }
        svg path {
          fill: $white;
        }
      }
    }
  }

  .textUppercase {
    text-transform: uppercase;
  }
}
