$width: 487px;
$height: 263px;

.horizonViewWrapper {
  width: $width * 3;
  height: $height * 3;
  position: relative;
  // pointer-events: none;


  .sky, .daylight, .landscape, .stars, .pointers {
    width: $width * 3;
    height: $height * 3;
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    border-radius: 0 3px 3px 0;
  }

  .sky {
    background-image: url("../assets/earth-view-nighttime-background@3x.png");
  }

  .landscape {
    background-image: url("../assets/earth-view-landscape@3x.png");
    pointer-events: none;
  }

  .daylight {
    background-image: url("../assets/earth-view-daytime-background@3x.png");
    pointer-events: none;
  }
}
