@import "./app/components/vars.scss";

html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: $fontFamilyNunito;
  font-size: 16px;
  font-weight: normal;
  user-select: none;
  color: $font-color;
}
