$fontFamilyRoboto: 'Roboto', sans-serif;
$fontFamilyRobotoCondensed: 'Roboto Condensed', sans-serif;

// new vars
$bluePrimary: #005f99;
$bluePrimary50: #7fb0cc;
$bluePrimaryTint50: #7fafcc;
$blueAccent: #01ace4;
$lightBlueAccent: #70cfef;
$lightBlueTint10: #f0fafd;
$lightBlueTint18: #e5f6fc;
$lightBlueTint25: #dbf3fb;
$lightBlueTint50: #7fafcc;
$gray5: #f2f2f2;
$purpleTint: #e0d3e8;
$purpleTint10: #f8f6fa;
$purpleTint25: #f0e9f4;
$purpleTint50: #e0d3e8;
$purpleAccent: #4e2c82;
$orangeAccent: #eb6d00;
$orangeTint50: #f5b67f;
$greenAccent: #00a39e;
$greenTint50: #7fd1ce;
$darkGreenAccent: #004d4b;
$darkGreenTint50: #7fa6a5;

$black: #000;
$white: #fff;

$frameBorderRadius: 15px;
$focusOutline: 4px solid $lightBlueAccent;

$fontFamilyNunito: 'Nunito', sans-serif;

$cellHorizontalPadding: 7px;
$cellVerticalPadding: 5px;

$header-bg: #ABDFF1;
$panel-bg: #FFFEFD;
$font-color: #333333;
$main-font: 'Nunito';
$dark-yellow: #FFD075;
$medium-yellow: #F9E2A1;
$light-yellow: #FDF4E4;
$dark-green: #0E7E6D;
$bright-green: #4CC8B5;
$light-green: #D1F3EE;
$bright-blue: #2b72e3;
$bright-red: #fb565a;

$dark-blue: #1e2749;
$dark-blue2: #444854;
$light-blue: #e7edf6;
$light-blue2: #f7fafe;

$blue-hover: darken($light-blue, 10%);
$blue-active: darken($light-blue, 20%);

$maxAppWidth: 904px;
