@import "../vars.scss";

$headerHeight: 52px;
$rowMinHeight: 40px;
$containerPadding: 1px;
$activeRowLeftBorderWidth: 8px;
$tableBorderWidth: 2px;

@mixin activeRow($opacity) {
  td:not(.graphSelection) {
    // The first cell with the graph selection button should not be highlighted.
    background-color: rgba(112, 207, 239, 0.18 * $opacity);
  }
  td {
    $borderWidth: 3px;
    $borderColor: rgba($bluePrimary, $opacity);

    z-index: 1000;
    border-top: $borderWidth solid $borderColor;
    border-bottom: $borderWidth solid $borderColor;
    padding-top: $cellVerticalPadding - $borderWidth;
    padding-bottom: $cellVerticalPadding - $borderWidth;
    &:first-child {
      // Border that is outside the cell is composed of border (that never can be outside cell) and box shadow.
      // $insideBorder decides how much of the border is within the cell and how much overflows out.
      $insideBorder: 1px;
      border-left: $insideBorder solid $borderColor;
      box-shadow: -$activeRowLeftBorderWidth + $insideBorder 0 0 $borderColor;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
      &:not(.graphSelection) {
        padding-left: $cellHorizontalPadding - $insideBorder;
      }
    }
    &:last-child {
      border-right: 3px solid $borderColor;
      padding-right: $cellHorizontalPadding - 3px;
    }
  }
}

.tableContainer {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background-color: #fff;
  border: 2px solid $bluePrimary;
  border-radius: 5px 5px 0 0;
  padding: $containerPadding;
  table-layout: fixed;
  overflow: hidden;

  .header {
    color: $bluePrimary;
    height: $headerHeight;
    font-size: 16px;
    font-weight: bold;
    padding: $cellVerticalPadding $cellHorizontalPadding;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;

    button.noWrap {
      white-space: nowrap;
    }

    .divider {
      width: 1px;
      height: 28px;
      background-color: #949494;
      margin: 0 20px;
    }

    button {
      color: $bluePrimary;
      box-sizing: border-box;
      font-size: 14px;
      font-weight: 500; // medium
      border: 3px solid $bluePrimary;
      border-radius: 10px;
      height: 34px;
      background-color: transparent;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      line-height: 12px;

      svg {
        overflow: visible;
      }

      &:disabled {
        pointer-events: none;
        opacity: 0.35;
      }

      &:hover {
        background-color: $lightBlueTint10;
      }
      &:active {
        color: #fff;
        background-color: $bluePrimary;
        svg path {
          fill: #fff;
        }
      }

      svg {
        margin-top: -1px;
        margin-right: 3px;
      }
    }
  }

  input {
    &:disabled {
      pointer-events: none;
    }
  }

  table.table {
    table-layout: fixed;
    width: calc(100% + $activeRowLeftBorderWidth);
    height: calc(100% - $headerHeight);
    border-spacing: 0;
    font-size: 14px;
    display: block;
    overflow-y: auto;
    overflow-x: hidden;
    // When div becomes scrollable in Y axis, it clips its X axis overflow. Padding + negative margin seem to fix that.
    padding-left: $activeRowLeftBorderWidth;
    margin-left: -$activeRowLeftBorderWidth;

    tr {
      &:nth-child(even) {
        background: $gray5;
        .barChartButtonBackground {
          background: $gray5;
        }
      }
      &:nth-child(odd) {
        background: #fff;
        .barChartButtonBackground {
          background: #fff;
        }
      }

      &.activeRow {
        @include activeRow(1);
      }
    }

    th, td {
      box-sizing: border-box;
      height: $rowMinHeight;
      padding: $cellVerticalPadding $cellHorizontalPadding;
      &:last-child {
        border-right: 0;
      }
      &.graphSelection {
        padding: 0;
      }
      &.noPadding {
        padding: 0 !important;
      }
    }

    thead {
      // Make headers sticky.
      position: sticky;
      top: 0;
      z-index: 2;
    }

    th {
      background-color: $lightBlueTint25;
      border-right: 2px solid #fff;
      text-align: left;
      vertical-align: bottom;
      padding-bottom: 2px;

      &.numeric {
        text-align: right;
      }

      &.sortable:hover {
        cursor: pointer;
        background-color: $bluePrimaryTint50;
      }

      &.sortable.sorted {
        color: #fff;
        background-color: $bluePrimary;
      }

      &.headerGroupTitleBorder{
        height: 10px !important; //this overrides min-height for PlantLab
        border-top: 2px solid #fff;
      }

      &.headerGroupTitleNoBorder{
        height: 10px !important; //this overrides min-height for PlantLab
      }

    }

    td {
      border-right: 1px solid #949494;

      &.numeric {
        text-align: right;
      }
    }
  }

  &:not(.disabled) tr {
    cursor: pointer;

    &:hover {
      @include activeRow(0.5);
    }
  }

  .selectRowCheckbox {
    display: flex;
    align-items: center;
    justify-content: center;

    .container {
      position: relative;

      .barChartButton {
        box-sizing: border-box;
        width: 30px;
        height: 30px;
        border-radius: 30px;
        border: 3px solid $bluePrimary;
        background-color: $white;
        position: relative;
        z-index: 1;
        pointer-events: none;
        display: flex;
        align-items: center;
        justify-content: center;

        &.selected1 {
          background-color: $orangeAccent;
          border-color: $orangeAccent;
          svg path {
            fill: $white;
          }
        }
        &.selected2 {
          background-color: $greenAccent;
          border-color: $darkGreenAccent;
          border-width: 2px;
          svg path {
            fill: $white;
          }
        }

        &.disabled {
          opacity: 0.35;
          pointer-events: none;
        }
      }

      &:hover .barChartButton.canBeSelected1 {
        background-color: $orangeTint50;
        border-color: $orangeTint50;
      }
      &:hover .barChartButton.canBeSelected2 {
        background-color: $greenTint50;
        border-color: $darkGreenTint50;
        border-width: 2px;
      }
      &:hover .barChartButton.selected1 {
        background-color: $orangeTint50;
        border-color: $orangeTint50;
      }
      &:hover .barChartButton.selected2 {
        background-color: $greenTint50;
        border-color: $darkGreenTint50;
      }

      .barChartButtonBackground {
        position: absolute;
        top: 0;
        left: 0;
        width: 30px;
        height: 30px;
        pointer-events: none;
        z-index: 1;
      }

      input {
        position: absolute;
        top: -3px;
        left: -5px;
        width: 32px;
        height: 30px;
        z-index: 0;
        cursor: pointer;
      }
    }
  }
}
